<!DOCTYPE html>
{% load static %}
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image" href="{% static 'assets/img/icons/favicon.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
    <script defer type="application/javascript" rel="script" src="{% static 'assets/js/main.js' %}"></script>
    <title>Duck Django</title>
</head>
<body>
    {% include 'header.htm' %}
    <main>
        {% include 'sidebar.htm' %}
        {% block content %}
        {% endblock %}
    </main>
    <div class="modal" id="cartModal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Ваша корзина</h2>
            <div class="cart-items"></div>
            <form class="delivery-form">
                <h3 id="total">Оформление доставки</h3>
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" placeholder="Имя и фамилия" required>
                <label for="phone">Телефон:</label>
                <input type="tel" id="phone" name="phone" placeholder="Телефон" required>
                <label for="street">Адрес:</label>
                <input type="text" id="street" name="address" placeholder="Улица" required>
                <input type="text" id="house" name="house" placeholder="Дом" required>
                <input type="text" id="apartment" name="apartment" placeholder="Квартира" required>
                <input type="text" id="entrance" name="entrance" placeholder="Подъезд" required>
                <input type="text" id="floor" name="floor" placeholder="Этаж" required>
                <label for="intercom-positive">Работает домофон?</label>
                <div>
                    <input type="radio" id="intercom-positive" name="intercom" value="true" required>
                    <span>Да</span>
                </div>
                <div>
                    <input type="radio" id="intercom-negative" name="intercom" value="false" required>
                    <span>Нет</span>
                </div>
                <textarea id="order-comment" placeholder="Комментарий" rows="10"></textarea>
                <div>
                    <input type="checkbox" id="agreements" required>
                    <span>Я принимаю соглашение об обработке персональных данных</span>
                </div>
                <label for="intercom-positive">Способ оплаты</label>
                <div>
                    <input type="radio" id="cash-payment" name="payment" value="Наличными" required>
                    <span>Оплата наличными при получении</span>
                </div>
                <div>
                    <input type="radio" id="card-payment" name="payment" value="Картой" required>
                    <span>Оплата картой при получении</span>
                </div>
                <div>
                    <input type="radio" id="on-place-payment" name="payment" value="Кафе" required>
                    <span>На месте, в ресторане</span>
                </div>
                <p>*Доставка в дальные районы уточняйте у оператора</p>
                <h3 id="total2"></h3>
                <button type="submit">Оформить заказ</button>
            </form>
        </div>
    </div>
</body>
</html>